:root {
	box-sizing: border-box;
}

@font-face {
	font-family: "fredokalight";
	src: url("https://thannon.com/fredoka-variablefont_wdthwght-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 1rem;
	max-width: 1200px;
	margin: 30px auto;
	background-color: #ededf3;
	color: #19191a;
	font-family: fredokalight;
}

a {
	color: #17aaff;
	font-weight: bold;
}

h1 {
	font-family: fredokalight;
	font-weight: normal;
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #19191a;
	margin: 0px 0px 0px 0px;
}

h2 {
	font-family: fredokalight;
	font-weight: normal;
	font-size: 1em;
	letter-spacing: 2px;
	margin-bottom: 0px;
}

h3 {
	font-family: fredokalight;
	font-weight: normal;
	font-size: 0.8em;
	letter-spacing: 1px;
	margin-top: 18px;
}

h4 {
	font-family: fredokalight;
	font-weight: normal;
	font-size: 0.8em;
	letter-spacing: 1px;
	margin-bottom: -10px;
}

textarea {
	min-height: 200px;
	min-width: 100%;
}

progress {
	width: 100%;
	pad: 0;
	margin: 0;
	opacity: 0;
}

.project {
	margin: 50px 0px 0px 0px;
}

.container {
	display: flex;
	width: 100%;
}

.column-1 {
	flex-shrink: 0;
	/* shrinks to 0 to apply 70% width*/
	flex-basis: 53%;
	/* sets initial width to 70%*/
}

.box {
	padding: 10px;
	border: 0px;
	margin: 1rem 1rem 3rem 3rem;
}

@media only screen and (max-width: 900px) {
	.container {
		flex-direction: column;
	}

	.box {
		margin: 0 0 1rem;
	}
}
